body{
    background-image:url("../images/worldmap.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    background-image: linear-gradient(to right, #5e454b, black);
    width:100%;
}

.row{
    margin-left:0;
    margin-right:0;
}


h1, h2 {
    color: white;
    margin: auto;
    text-shadow: 2px 2px 2px black;
}

/* search button */
#searchBtn{
    background-color: #3fab9b ;
    border:none;
}
#searchBtn:hover{
background-color: #cee5d0;
}

/* delete button */
#delBtn{
    background-color: #931837;
    border:none;
}

#delBtn:hover{
    background-color: #d52350;
    border:none;
}

#todayWeather{
    border-radius: 1rem;
    margin-left:auto;
    width:100%;
}

#\5Day{
    margin-left: 0 !important;
}

.col-5, .col-lg-2 {
    margin-left:auto;
    border-radius: .5rem;
    margin-top: 1rem;
}

/* hover for saved cities button */
.cityBtn:hover{
    background-color:#f3f0d7 ;
    border:none;
    color: black;
}

